html * {
  margin: unset;
  padding: unset;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/restaurant";
